---
interface Item {
    content?: string;
    title?: string;
    description?: string;
    image?: string;
    link?: string;
}

export interface Props {
    title?: string;
    subtitle?: string;
    highlight?: string;
    items: Array<Item>;
}

const {
    title = await Astro.slots.render("title"),
    subtitle = await Astro.slots.render("subtitle"),
    highlight,
    items = [],
} = Astro.props;
---

<section class="what-we-offer">
    <div
        class="absolute inset-0 dark:bg-slate-800 pointer-events-none mb-32"
        aria-hidden="true"
    >
    </div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 -mb-12">
        <div class="py-0 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            {
                (title || subtitle || highlight) && (
                    <div class="mb-8">
                        {title && (
                            <p
                                class="text-3xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 what-we-offer-heading text-center"
                                set:html={title}
                            />
                        )}

                        {subtitle && (
                            <h2
                                class="max-w-full dark:text-white what-we-offer-subheading"
                                set:html={subtitle}
                            />
                        )}
                    </div>
                )
            }
            <div>
                <div class="flex">
                    {
                        items.map(({ content, title, description, link }) => (
                            <div class="relative flex flex-col p-6 what-we-offer-box">
                                <div class=" items-center">
                                    {content && (
                                        <span
                                            class="what-we-offer-img"
                                            set:html={content}
                                        />
                                    )}
                                    {title && (
                                        <h3
                                            class="rux-heading-3 font-bold text-center mt-4"
                                            set:html={title}
                                        />
                                    )}
                                </div>
                                {description && (
                                    <p
                                        class="dark:text-white text-md mt-4 mb-4 text-center pl-2 pr-2"
                                        set:html={description}
                                    />
                                )}
                                {link && (
                                    <a
                                        href="#"
                                        class="dark:text-gray-50 text-md mt-4"
                                    >
                                        {" "}
                                        {link}{" "}
                                    </a>
                                )}
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
